.btn1 {
border-radius: 50%;
}
.container {
    margin-top: 25px;
}
.todo-item {
    margin: 15px 0px;
    padding: 10px 0px;
}
.card {
    margin: 40px 15px;
    padding: 20px 0px;
    width: 80%;    
}

.spinner-border {
   position: absolute;
   top: 30%;
   left: 30%;

}